.product-wrapper {
  display: flex;
  background-color: var(--gray);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  justify-items: center;
  grid-gap: 2.5rem;
  margin: 2rem;
  flex-grow: 1;
}

.product-container .product-card {
  width: 100%;
  max-width: 40rem;
}

.prod-img-container {
  object-fit: contain;
  height: 40rem;
  width: 100%;
}

.product-card-img {
  max-width: 100%;
  object-fit: contain;
  height: 40rem;
  width: 100%;
}

.prod-rating {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.prod-action-btn:disabled{
  background-color:var(--dark-gray);
  pointer-events: none;
}

.prod-action-btn:disabled:hover{
  background-color:var(--dark-gray)
}

@media only screen and (max-width: 1024px) {
  .filter-container {
    display: none;
  }
}
