* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.wrapper {
  margin: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

em,
strong {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.1rem;
}

hr {
  border: 0;
  height: 1px;
  width: 50%;
  position: relative;
  margin: 30px auto;
}

.divider {
  background: var(--primary-color);
}

.heading,
.sub-heading {
  margin: 0.5rem;
  padding: 0.5rem;
}

.heading h1 {
  font-size: 2rem;
  font-weight: 600;
}

.heading h1,
.sub-heading h3 {
  text-transform: uppercase;
}

.sub-heading h3 {
  font-size: 1.5rem;
}

.heading p,
.sub-heading p {
  text-align: left;
  padding: 0.5rem;
  font-size: 1.2rem;
}
